#container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: wrap;
    width: 960px;
    height: 960px;
    background-color: rgb(9, 151, 151);
}

.content {
    outline: 1px solid black;
}

#resetGrid{
    margin: 20px;
}